<div id="leaves">
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
  <i></i>
</div>
<div class="background">
  <img class="background" src="assets/background.jpg" alt="фон">
</div>
<div class="container">
  <section class="header section">
    <div class="wreath_header wow animate__animated animate__fadeInDown animate__delay_1s" data-wow-duration="2s">
      <img src="assets/main_wreath.png" alt="Венок">
      <div class="wreath_text">
        <p>Владислав</p>
        <p>&</p>
        <p>Юлия</p>
      </div>
    </div>
  </section>
  <section class="invite section">
    <div class="invite_container wow animate__animated animate__fadeInLeft animate__delay_1s" data-wow-duration="2s">
      <h2>Вся наша жизнь - Любовь!</h2>
      <div class="heart-box">
        <i class="fa-solid fa-heart heart"></i>
      </div>
      <p>Мы счастливы пригласить вас на нашу свадебную церемонию и праздничный вечер, посвященные особенному событию
        нашей жизни. </p>
      <img class="wreath_divider" src="assets/wreath_divider.png" alt="Венок">
    </div>
  </section>
  <section class="address section">
    <div class="address_container section wow animate__animated animate__fadeInRight animate__delay_1s"
      data-wow-duration="2s">
      <div class="styled_title">Сбор гостей</div>
      <div class="address_header">Суббота | 3 июня | 2023</div>
      <div class="styled_text">Мы непременно хотим видеть вас на церемонии. Разделите с нами самый счастливый и
        волнительный момент нашей жизни.</div>
      <div class="styled_text">Праздничный ужин состоится в банкетном зале ресторана Villa Politica</div>

      <img class="wreath_divider" src="assets/wreath_divider.png" alt="Венок">
    </div>
  </section>
  <section class="dress-code section">
    <div class="dress-code_container  wow animate__animated animate__fadeInLeft animate__delay_1s"
      data-wow-duration="2s">
      <div class="styled_title">Дресс-код</div>
      <div class="dress-code_table">
        <div class="venus">
          <div class="gender_icon"><i class="fa-solid fa-venus"></i></div>
          <div class="venus_text styled_text">Мы будем рады, если дамы придут в прекрасных вечерних платьях</div>
        </div>
        <div class="mars">
          <div class="gender_icon"><i class="fa-solid fa-mars"></i></div>
          <div class="venus_text styled_text">Мужчинам же предлагаем выбрать изящный классический костюм</div>
        </div>
      </div>
      <img class="wreath_divider" src="assets/wreath_divider.png" alt="Венок">
    </div>
  </section>
  <section class="gifts section">
    <div class="gifts_container  wow animate__animated animate__fadeInRight animate__delay_1s" data-wow-duration="2s">
      <div class="styled_title">Подарки молодожёнам</div>
      <div class="gift_icon"><i class="fa-solid fa-gift"></i></div>
      <div class="styled_text">Мы не хотим обременять вас выбором подарка, поэтому будем очень рады вашему вкладу в
        бюджет нашей молодой семьи. Пожалуйста, не дарите нам цветы! После свадьбы мы отправляемся в путешествие и не
        успеем ими насладиться</div>
      <img class="wreath_divider" src="assets/wreath_divider.png" alt="Венок">
    </div>
  </section>
  <section class="section feedback">
    <div class="feedback_container wow animate__animated animate__fadeInLeft animate__delay_1s" data-wow-duration="2s">
      <div class="styled_title">Обратная связь</div>
      <div class="styled_text">Пожалуйста, подтвердите свое присутствие на свадьбе письмом или при личной встрече до
        31.03.2023</div>
      <form class="feedback_form" action="#">
        <div class="person_container">
          <label for="name">Ваше имя</label>
          <input type="text" name="name" id="name" placeholder="Иванов Иван Иванович">
        </div>
        <div class="invite_form_container">
          <p>Ваше присутствие</p>
          <label class="radio_invite"><input type="radio" name="invite" id="invite">Я обязательно приду</label>
          <label class="radio_invite"><input type="radio" name="invite" id="invite">Не смогу присутствовать</label>
        </div>
        <button class="send_btn">Отправить</button>
      </form>
      <img class="wreath_divider" src="assets/wreath_divider.png" alt="Венок">
    </div>
  </section>
</div>